<div class="sidebar-nav">
  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand"><a href="/">News App</a></div>
    </div>
    <div class="navbar-collapse collapse sidebar-navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#"><img src="{{ MEDIA_URL }}articles/galaxy.png" class="img-responsive"/></a></li>
        <li><a href="#"><img src="{{ MEDIA_URL }}articles/slack.png" class="img-responsive"/></a></li>
        <li><a href="#"><img src="{{ MEDIA_URL }}articles/woman.png" class="img-responsive"/></a></li>
        <li><a href="#"><img src="{{ MEDIA_URL }}articles/wozniak.png" class="img-responsive"/></a></li>
        <li><a href="#"><img src="{{ MEDIA_URL }}articles/peeple.png" class="img-responsive"/></a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>